:root{
    --blue: #003580;
    --light: #fff;
    --mx-width: 1024px;
    --light-blue: #0071c2;
    --yellow: #febb02;
}

.headerIcon{
    color: hsl(0, 0%, 48%);
}

.header{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


.headercontainer{
    width: 100%;
    max-width: var(--mx-width);
    margin: 0px 0px 100px 0px;
}

.headerlist{
    display: flex;
    gap: 40px;
}

.headeritem{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    color:var(--light);
}

.headeritem.active{
    border: 1px solid var(--light);
    border-radius: 20px;
    padding: 8px;
}

/* .title{
    color: var(--light) !important;
    margin-top: 60px !important;
} */

/* .title:not(:last-child) {
    margin-bottom: 0 !important;
} */


.description{
    color: var(--light);
    font-size: 1.5rem;
}

.headercontainer .button.is-light{
    background-color: var(--light-blue) !important;
    color: var(--light) !important;
    border-radius: 5px !important;
    outline: none !important;

}

.headersearchtext{
    color: hsl(0, 0%, 48%);
    cursor: pointer;
}

.headerSearch{
    height: 50px;
    background-color: var(--light);
    border: 3px solid var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    max-width: var(--mx-width);
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.headersearchinput{
    border: none;
    outline: none;
}

.date{
    position: absolute;
    top:50px;
}
.options{
    position: absolute;
    top: 50px;
}

.optionItem{
    margin: 15px;
    width: 100%;
    max-width: 220px;
}

.optionControl{
    display: flex;
    align-items: center;
    gap: 10px;
}

.button.is-primary{
    background-color: var(--blue) !important;
}

button.is-info.is-outlined{
    width: 100%;
}


